[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "AzureAuth"]
	path = AzureAuth
	url = https://github.com/azure/azureauth
	shallow = true
[submodule "AzureCognitive"]
	path = AzureCognitive
	url = https://github.com/azure/azurecognitive
	shallow = true
[submodule "AzureContainers"]
	path = AzureContainers
	url = https://github.com/azure/azurecontainers
	shallow = true
[submodule "AzureCosmosR"]
	path = AzureCosmosR
	url = https://github.com/azure/azurecosmosr
	shallow = true
[submodule "AzureGraph"]
	path = AzureGraph
	url = https://github.com/azure/azuregraph
	shallow = true
[submodule "AzureKeyVault"]
	path = AzureKeyVault
	url = https://github.com/azure/azurekeyvault
	shallow = true
[submodule "AzureKusto"]
	path = AzureKusto
	url = https://github.com/azure/azurekusto
	shallow = true
[submodule "azuremlsdk"]
	path = azuremlsdk
	url = https://github.com/azure/azureml-sdk-for-r
	shallow = true
[submodule "AzureQstor"]
	path = AzureQstor
	url = https://github.com/azure/azureqstor
	shallow = true
[submodule "AzureRMR"]
	path = AzureRMR
	url = https://github.com/azure/azurermr
	shallow = true
[submodule "AzureStor"]
	path = AzureStor
	url = https://github.com/azure/azurestor
	shallow = true
[submodule "AzureTableStor"]
	path = AzureTableStor
	url = https://github.com/azure/azuretablestor
	shallow = true
[submodule "AzureVision"]
	path = AzureVision
	url = https://github.com/azure/azurevision
	shallow = true
[submodule "AzureVM"]
	path = AzureVM
	url = https://github.com/azure/azurevm
	shallow = true
[submodule "AzureVMmetadata"]
	path = AzureVMmetadata
	url = https://github.com/azure/azurevmmetadata
	shallow = true
